/* ///===================================================///*/
/* ************************ DG STYLES **********************/
/* ///=================================================///*/
/* ////======= WEB FONTS =======//// */
/* Akkurat */
@font-face {
  font-family: 'Akkurat';
  src: url("../fonts/Akkurat/akkurat.eot");
  src: url("../fonts/Akkurat/akkurat.eot?#iefix") format("embedded-opentype"), url("../fonts/Akkurat/akkurat.woff") format("woff"), url("../fonts/Akkurat/akkurat.ttf") format("truetype"), url("../fonts/Akkurat/akkurat.svg#akkurat") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Akkurat';
  src: url("../fonts/Akkurat/akkurat-italic.eot");
  src: url("../fonts/Akkurat/akkurat-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Akkurat/akkurat-italic.woff") format("woff"), url("../fonts/Akkurat/akkurat-italic.ttf") format("truetype"), url("../fonts/Akkurat/akkurat-italic.svg#akkurat") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Akkurat';
  src: url("../fonts/Akkurat/akkurat-bold.eot");
  src: url("../fonts/Akkurat/akkurat-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Akkurat/akkurat-bold.woff") format("woff"), url("../fonts/Akkurat/akkurat-bold.ttf") format("truetype"), url("../fonts/Akkurat/akkurat-bold.svg#akkurat") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Akkurat';
  src: url("../fonts/Akkurat/akkurat-light.eot");
  src: url("../fonts/Akkurat/akkurat-light.eot?#iefix") format("embedded-opentype"), url("../fonts/Akkurat/akkurat-light.woff") format("woff"), url("../fonts/Akkurat/akkurat-light.ttf") format("truetype"), url("../fonts/Akkurat/akkurat-light.svg#akkurat") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'AkkuratMono';
  src: url("../fonts/Akkurat/akkurat-mono.eot");
  src: url("../fonts/Akkurat/akkurat-mono.eot?#iefix") format("embedded-opentype"), url("../fonts/Akkurat/akkurat-mono.woff") format("woff"), url("../fonts/Akkurat/akkurat-mono.ttf") format("truetype"), url("../fonts/Akkurat/akkurat-mono.svg#akkurat") format("svg");
  font-weight: normal;
  font-style: normal; }

/* ////====== GLOBAL STYLES =====//// */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body {
  padding: 0;
  margin: 0; }

body {
  background: #111;
  font-family: AkkuratMono, Courier, sans-serif;
  color: #46575f;
  font-size: 16px;
  line-height: 2;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  min-height: 100vh; }

a {
  color: #3bc5ec;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #15b3df;
    text-decoration: none;
    outline: none; }
  a:active:focus {
    outline: none; }

p {
  margin-bottom: 0; }
  p + p {
    margin-top: 15px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Akkurat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-top: 0;
  color: #263238; }

/* ////====== HOME STYLES =====//// */
/* Header */
.dg-header {
  height: 55px;
  padding: 10px 15px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 1001px) {
    .dg-header {
      height: 62px;
      padding: 10px 20px; } }
  .dg-header .dg-logo {
    width: 35px;
    height: 35px; }
    .dg-header .dg-logo svg {
      width: 35px;
      height: 35px; }
      .dg-header .dg-logo svg .path1,
      .dg-header .dg-logo svg .path2 {
        fill: #ddd;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
    @media (min-width: 1001px) {
      .dg-header .dg-logo {
        width: 40px;
        height: 40px; }
        .dg-header .dg-logo svg {
          width: 40px;
          height: 40px; } }
  .dg-header .dg-contact {
    display: block;
    text-transform: uppercase;
    color: #ddd;
    font-weight: bold;
    font-size: 12px;
    line-height: 1;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    .dg-header .dg-contact:hover, .dg-header .dg-contact:focus, .dg-header .dg-contact:active {
      color: #3bc5ec; }
    @media (min-width: 1001px) {
      .dg-header .dg-contact {
        font-size: 14px; } }

/* Wrapper */
.dg-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100vh - 55px); }
  @media (min-width: 1001px) {
    .dg-wrapper {
      min-height: calc(100vh - 62px); } }
  .dg-wrapper .dg-hero {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

/* Hero */
.dg-hero {
  min-height: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 767px) {
    .dg-hero {
      min-height: 600px; } }
  @media (min-width: 1001px) {
    .dg-hero {
      padding-top: 62px; } }
  .dg-hero .dg-hero-text {
    max-width: 530px;
    position: relative;
    z-index: 2; }
    @media (min-width: 1000px) {
      .dg-hero .dg-hero-text {
        max-width: 640px; } }
    .dg-hero .dg-hero-text h1 {
      color: #fff;
      font-size: 60px;
      margin-bottom: 20px;
      line-height: 1; }
    .dg-hero .dg-hero-text p {
      font-size: 14px;
      line-height: 1.8;
      font-weight: 300;
      color: #999; }
      .dg-hero .dg-hero-text p strong {
        color: #ddd; }
      .dg-hero .dg-hero-text p span {
        font-weight: normal; }
      @media (min-width: 767px) {
        .dg-hero .dg-hero-text p {
          font-size: 16px;
          max-width: 500px; } }
    .dg-hero .dg-hero-text .html {
      color: #ff6457; }
    .dg-hero .dg-hero-text .css {
      color: #5ccfef; }
    .dg-hero .dg-hero-text .js {
      color: #ffcb26; }
    .dg-hero .dg-hero-text a {
      display: inline-block;
      color: #999;
      border-bottom: 1px solid #999;
      line-height: 1; }
      .dg-hero .dg-hero-text a:hover, .dg-hero .dg-hero-text a:focus, .dg-hero .dg-hero-text a:active {
        color: #fff;
        border-bottom: 1px solid #fff; }

/* Social */
.dg-social {
  padding: 20px;
  padding: 20px;
  padding: 20px; }
  .dg-social .dg-social-links {
    margin: 0;
    padding: 0;
    list-style: none; }
    .dg-social .dg-social-links li {
      display: inline-block;
      margin-right: 10px; }
      @media (min-width: 767px) {
        .dg-social .dg-social-links li {
          margin-right: 40px; } }
      .dg-social .dg-social-links li a {
        color: #ddd;
        text-transform: uppercase;
        font-size: 9px;
        font-weight: bold; }
        @media (min-width: 767px) {
          .dg-social .dg-social-links li a {
            font-size: 10px; } }
        .dg-social .dg-social-links li a:hover, .dg-social .dg-social-links li a:focus, .dg-social .dg-social-links li a:active {
          color: #3bc5ec; }

/*!--------------------------------------------------------------------
STYLES "Outdated Browser"
Version:    1.1.2 - 2015
author:     Burocratik
website:    http://www.burocratik.com
* @preserve
-----------------------------------------------------------------------*/
#outdated {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 100px;
  text-align: center;
  text-transform: uppercase;
  z-index: 999999;
  background-color: #f25648;
  background-color: rgba(242, 86, 72, 0.98);
  color: #ffffff; }
  #outdated h6 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 10px;
    color: #fff; }
  #outdated p {
    font-size: 12px;
    line-height: 12px;
    margin: 0; }
  #outdated #btnUpdateBrowser {
    display: block;
    position: relative;
    padding: 10px 20px;
    margin: 30px auto 0;
    width: 230px;
    /*need for IE*/
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #ffffff;
    cursor: pointer; }
    #outdated #btnUpdateBrowser:hover {
      color: #f25648;
      background-color: #ffffff; }
  #outdated .last {
    position: absolute;
    top: 10px;
    right: 25px;
    width: 20px;
    height: 20px; }
    #outdated .last[dir='rtl'] {
      right: auto !important;
      left: 25px !important; }
  #outdated #btnCloseUpdateBrowser {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ffffff;
    font-size: 36px;
    line-height: 36px; }
  * html #outdated {
    position: absolute; }
