//* ///========== VARIABLES ==========/// *//

//Colors
$orange:            #f96335
$blue:              darken(#81daf3, 15%)
$midnight:          #263238
$midnight2:         #181f23

$brand-success:      #66bb6a //temp
$brand-error:        #ff8a80 //temp
$brand-warning:      #ffd54f //temp
$brand-info:         #81daf3 //temp


//
$primary:            $blue
$text:               darken(#90a4ae, 30%) //temp
$text-lt:            lighten($text, 20%)
$text-drk:           $midnight
$link:               $primary

$screen-sm-min:      767px
$screen-sm-max:      991px
$screen-lg-min:      1170px

// Web Fonts
$maisonneue:  MaisonNeue, "Helvetica Neue", Helvetica, Arial, sans-serif
$akkurat:  Akkurat, "Helvetica Neue", Helvetica, Arial, sans-serif
$akkurat-mono:  AkkuratMono, Courier, sans-serif